@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root,:root[data-tema='dark']{
    --corPrimaria:#F0F0F0;
    --corPrimaria-BG:#100C18;
    --corSecundaria-BG:#28292E;

    --corBorda: #4C39AC;
    --corTitulo:#F0F0F0;
    --corTexto:#9A9A9C;
    --corLink: #9A9A9C;
    --corIcon:#C7C8C9;

    --corTitulo-linear1:#B8AAFF;
    --corTitulo-linear2:#8C7BFE;
}
:root[data-tema='light']{
    --corPrimaria:#0B0B0F;
    --corPrimaria-BG:#E9E9E9;
    --corSecundaria-BG:#C7C8C9;

    --corBorda: #4C39AC;
    --corTitulo:#0B0B0F;
    --corTexto:#28292E;
    --corLink: #28292E;
    --corIcon:#56575A;

    --corTitulo-linear1:#B8AAFF;
    --corTitulo-linear2:#8C7BFE;
}
body{
    padding-top: 80px;
    background-color: var(--corPrimaria-BG);
    color: var(--corPrimaria);
    font-family: "Roboto", sans-serif;
    position: relative;
}

/* .retangulo-flutuante{
    position: relative;
    height: 70px;
    left: 0;
    width: 100%;
    background-color: var(--corBorda);
    top: 10px;
    z-index: -1;
} */
header{
    margin: 0 auto;
    border-bottom: 3px solid var(--corBorda);
    position: fixed;
    width: 100%;
    top: 0;
    background-color: var(--corPrimaria-BG);
    z-index: 99;
}
header img{
    max-height: 60px;
    border-radius: 15px;
}
nav{
    justify-content: space-evenly;
    align-items: center;
    display: flex;
    margin: 0 auto;
    max-width: 1500px;
    height: 75px;
    padding: 5px;
}
nav ol{
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
}
nav li a{
    padding: 22px 20px;
    color: white;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
nav ol img{
    border-radius: 0;
}

/* Inicio */
.inicio{
    max-width: 1000px;
    margin: 60px auto;
    padding: 40px 20px;
    border-bottom: 2px solid var(--corBorda);
}
.inicio h1{
    font-size: 3rem;
    margin-bottom: 5px;
    text-transform: capitalize;
    line-height: 1.2;
}
/* #938AD4 */
.inicio span{
    background: linear-gradient(90deg, var(--corTitulo-linear1),var(--corTitulo-linear2));
    color: currentColor;
    background-clip: text;
    color: transparent;
}
.inicio h3{ 
    font-size: 1.2rem;
    margin-bottom: 10px;
    color: var(--corTexto);
}
.area-interagir{
    padding: 10px;
    gap: 10px;
    display: flex;
}
.redes{
    display: flex;
    gap: 10px;
    cursor: pointer;
}
.redes li{
    transition: all 0.5s ease;
}
.redes li:hover{
    transform: rotate(45deg);
}
/* CSS Sobre */
.sobre{
    margin: 0 auto;
    max-width: 1000px;
    border-bottom: 2px solid var(--corBorda);
    padding: 20px;
    padding-bottom: 35px;
    position: relative;
}
.sobre-resumo{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 60px auto;
}
.sobre-img img{
    max-width: 250px;
    border-radius: 50%;
    border: thick double var(--corBorda);
     box-shadow: 1px 2px 2px var(--corBorda);
}
.resumo-conteudo{
    max-width: 500px;
}
.resumo-conteudo h2{
    font-size: 2.5rem;
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: 5px;
    background: linear-gradient(90deg, var(--corTitulo-linear1), var(--corTitulo-linear2));
    background-clip: text;
    color: transparent;
}
.resumo-conteudo p{
    font-size: 1.1rem;
    line-height: 20px;
    margin: 10px 0;
    text-indent: 30px;
}
.resumo-conteudo span{
    display: block;
    margin-bottom: 10px;
}

.sobre-formacao{
    display: flex;
    justify-content: center;
    gap: 30px;
}
.sobre-formacao h2{
    font-size: 2rem;
    margin-bottom: 10px;
    font-weight: 400;
    letter-spacing: 5px;
color: var(--corTitulo-linear1);
}
.sobre-formacao h3{
    font-size: 1.15rem;
}
.cada-formacao,
.cada-experiencia{
    margin-left: 5px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    line-height: 20px;
    position: relative;
}

.sobre-formacao h4,
.sobre-formacao li{
    color: var(--corTexto);
}
p{
    color: var(--corTexto);
}
.formacao{
    margin-bottom: 25px;
}
.cada-experiencia h3{
    margin-left: 35px;
}
.cada-experiencia h4{
    margin-bottom: 5px;
    margin-left: 35px;
}
.cada-experiencia li{
    list-style: disc;
    margin-left: 18px;
    line-height: 16px;
    margin-bottom: 8px;
    color: var(--corIcon);
}
.formacao-extra h3{
    display: flex;
    justify-content: space-between;
}
.cada-formacao h4{
    margin-left: 35px;
}

.cada-formacao span,
.cada-experiencia span{
    width: 30px;
    position: absolute;
    left: 0px;
}

.cada-formacao .ads span{
    top: 20px;
}
.cada-formacao .origamid span{
    top: 95px;
}
/* Cursos complementares */
.front-end,
.ti-redes,
.complementares{
    border: 2px solid var(--corBorda);
    
}
.ti-redes{
    border-top: 0;
    border-bottom: 0;
}
.front-end{
    border-radius: 10px 10px 0 0;
}
.complementares{
    border-radius:0 0 10px 10px;
}
.front-end h3,
.ti-redes h3,
.complementares h3{
    padding: 10px;
    border-bottom: 2px solid var(--corBorda);
}
.front-end ol,
.ti-redes ol,
.complementares ol{
    padding: 10px;

}
.front-end li,
.ti-redes li,
.complementares li{
    list-style: disc;
    margin-left: 20px;
    margin-bottom: 10px;
    color: var(--corIcon);
}
.area-redes{
    display: flex;
    padding: 15px 0;
}
/* CSS Projetos */
main{
    margin: 40px auto;
    max-width: 1000px;
    padding: 20px;
    padding-bottom: 35px;
    position: relative;
}
main h2{
    font-size: 2.5rem;
    margin-bottom: 30px;
    font-weight: 400;
    text-align: center;
    letter-spacing: 5px;
    background: linear-gradient(90deg, var(--corTitulo-linear1), var(--corTitulo-linear2));
    background-clip: text;
    color: transparent;
}
.slider{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    gap: 50px;
    position: relative;
    border-bottom: 2px solid var(--corBorda);
    padding-bottom: 30px;
}
.slider img{
    border-radius: 15px;
    border: 1px solid var(--corLink);
    box-shadow: 1px 2px 3px #0000003b;
}
.slider a{
    display: block;
    max-width: 750px;
}
.img-maior img{
    min-width: 320px;
    width: 100%;
}
.galeria-slider ol{
    display: flex;
    flex-direction: column;
    gap: 20px;
    
}
.galeria-slider li{
    display: block;
    width: 200px;
}
.galeria-slider ol img{
    min-width: 150px;
    width: 100%;
    opacity: 0.4;
    transition: all 0.5s ease;
    cursor: pointer;
}
.galeria-slider ol img:hover{
    opacity: 1;
}
.img-ativa{
    opacity: 1 !important;
    transform: scale(1.1);
}

/* CSS Contato */
.contato{
    padding: 20px;
    margin: 0 auto;
    max-width: 1000px;
    text-align: center;
}
.contato h2{
    font-size: 2.5rem;
    font-weight: 400;
    letter-spacing: 5px;
    margin: 20px auto;
    background: linear-gradient(90deg, var(--corTitulo-linear1), var(--corTitulo-linear2));
    background-clip: text;
    color: transparent;
}
.contato h3{
    line-height: 18px;
    margin-bottom: 15px;
}
.redes-contato ol{
    display: flex;
    justify-content: center;
    gap: 20px;
}

/* CSS Footer */
footer{
    display: flex;
    justify-content: center;
    padding: 20px;
    font-size: 0.9rem;
    border-top: 3px solid var(--corBorda);
}

.button-visual-borda{
    background-color: transparent;
    border: 1px solid var(--corBorda);
    border-radius: 15px;
    display: flex !important;
    justify-content: center;
    align-items: center;
    padding: 10px 25px;
    box-sizing: border-box;
    color: var(--corLink);
    gap: 10px;
    position: relative;
    box-shadow: 1px 2px 2px var(--corBorda);
    transition: all 0.5s ease;
}
.button-visual-borda:hover{
   box-shadow: 1px 3px 5px var(--corTitulo-linear2);
   color: var(--corTitulo);
}
.button-visual-borda span{
    display: block;
    margin: 0px;
    color: var(--corPrimaria);
    transform: rotate(310deg);
    transition: all 0.5s ease;
}
.button-visual-borda:hover span{
    transform: rotate(340deg);
    color: var(--corTitulo-linear1);
}

.button-visual{
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 5px 15px;
    color: var(--corLink);    
    transition: all 0.5s ease;
}
.button-visual:hover{
   color: var(--corPrimaria);
}
.button-visual span{
    margin: 0px;
    transition: all 0.5s ease;
}
.button-visual:hover span{
    transform: rotate(320deg);
    color: var(--corPrimaria);
}

/* CSS Projetos */
.multi-projetos{
    margin: 50px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;
}
.cada-projeto{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 30px;
}
.cada-projeto a{
    max-width: 250px;
    margin: 0 auto;
}
.projeto-img img{
    width: 450px;
    border-radius: 10px;
}
.projeto-sobre{
    max-width: 400px;
}
.projeto-sobre h3{
    font-size: 1.3rem;
    margin-bottom: 5px;
}
.projeto-sobre h4{
    font-size: 0.9rem;
    margin-bottom: 10px;
}
.projeto-sobre li{
    list-style: disc;
    margin-left: 20px;
    margin-bottom: 5px;
}
@media(width<1000px){
    .slider{
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }
    .slider ol{
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }
    .galeria-slider{
        flex-wrap: wrap;
    }
    .galeria-slider li{
        width: auto;
    }
    .galeria-slider ol img{
        width: 60px;
    }

}
@media(width < 600px){
    .logo{
        display: none;
    }
    nav li a{
        flex-wrap: wrap;
    }
    .inicio{
        margin-top: 20px;
    }
    .inicio h1{
        font-size: 2.2rem;
        text-align: center;
    }
    .inicio h3{
        text-align: center;
    }
    .area-interagir{
        flex-wrap: wrap;
        justify-content: center;
    }
    .area-redes{
        flex-wrap: wrap;
        justify-content: center;
        gap: 15px;
    }
    .sobre-resumo{
        flex-wrap: wrap;
        gap: 30px;
        margin-top: 10px;
    }
    .sobre-formacao{
        flex-wrap: wrap;
    }
    .slider{
        flex-direction: column;
        gap: 20px;
    }
    .slider ol{
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }
    .galeria-slider li{
    width: auto;
    }
    .galeria-slider ol img{
        width: 60px;
    }
    .projetos{
        margin-bottom: 10px;
        padding-bottom: 10px;
    }
    .cada-projeto{
    flex-wrap: wrap;
    gap: 50px;
    }
    .cada-projeto:nth-child(even){
        flex-direction: column-reverse;
    }
    .projeto-img img{
    width: 350px;
    }
}
@media(width < 400px){
    .cada-formacao .ads span{
    top: 40px;
    }
    .cada-formacao .origamid span{
    top: 150px;
    }
}